RECIPE_PAGINATION_URL=
REACT_APP_BE_LOCAL_URL=http://localhost:7890/api/v1
REACT_APP_BE_STAGING_URL=https://noshbook-staging.herokuapp.com/api/v1
REACT_APP_BE_PROD_URL=https://noshbook-production.herokuapp.com/api/v1
REACT_APP_BE_DEFAULT_TYPE=STAGING
#This needs to be set in netlify. Don't specify it in your local .env file
REACT_APP_BE_TYPE=