.container {
  display: grid;
  grid-template-rows: auto 2em 13em 8em;
  width: 350px;
  background-color: var(--light-black);
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 5px 15px rgb(18, 17, 17);
  cursor: pointer;
  gap: 10px;
}

.cardimg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardh2 {
  margin-bottom: 10px;
  align-self: center;
}

.cardp {
  align-self: center;
}

.cardpsmalldescription {
  align-self: center;
  font-size: 90%;
}

.cookbookbuttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cookbookbuttons button {
  box-shadow: none;
}
