.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.listcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenttoggle {
  display: flex;
  gap: 5px;
  align-items: center;
  align-self: flex-end;
  margin-right: 20px;
  position: relative;
  z-index: 0;
}

.pagbuttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
