.daysmenu {
  list-style: none;
  padding: 0;
  z-index: 1;
  position: absolute;
  margin-top: 250px;
  background-color: white;
}

.daysmenu li {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  cursor: pointer;
}
