:root {
  --navy: rgb(8, 32, 50);
  --dark-gray: rgb(44, 57, 75);
  --light-gray: rgb(51, 71, 86);
  --orange: rgb(255, 76, 41);
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  padding-left: 15px;
  cursor: pointer;
}

.utensils {
  color: var(--orange);
  padding-top: 5px;
}
