.container {
  border: 1px solid var(--navy);
  background-color: var(--navy);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container button {
  margin-right: 10px;
  background-color: var(--light-gray);
  border: none;
  color: var(--orange);
  cursor: pointer;
}
