:root {
  --navy: rgb(8, 32, 50);
  --dark-gray: rgb(44, 57, 75);
  --light-gray: rgb(51, 71, 86);
  --orange: rgb(255, 76, 41);
  --brown: rgb(93, 168, 233);
  --purple: rgb(132, 54, 201);
}

.container {
  border: 1px solid var(--navy);
  background-color: var(--navy);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container button {
  margin-right: 10px;
  background-color: var(--light-gray);
  border: none;
  color: var(--orange);
  cursor: pointer;
}
