.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}

.buttoncontainer {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.daysmenucontainer {
  display: flex;
  flex-direction: column;
}
