.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttoncontainer {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.daysmenucontainer {
  display: flex;
  flex-direction: column;
}
